
/*.container{
	font-family: 'Alegreya Sans SC', sans-serif;
	word-spacing: 2px;
}*/

body{
  background:linear-gradient(to right,black,darkblue);
  background-image: url(https://i.ytimg.com/vi/S8wu4ZcDMlg/maxresdefault.jpg);

}

.container{
  display:flex;
  flex-direction:column;
  width: 80%;
  float:center;
  margin:0 auto;
  padding-top:60px;
  border:1px solid;
  height:300px;
  font-family: 'Alegreya Sans SC', sans-serif;
	word-spacing: 2px;

  
} 

p{
  color:lightgrey;
  margin-top:30px;
  font-size:12px;
  text-align:center;
}

.cadre{
  width:350px;
  height:300px;
  margin:0 auto;
  margin-top:90px;
/*  background-color: linear-gradient(-225deg, #FFF 50%,transparent),url(https://i.ytimg.com/vi/S8wu4ZcDMlg/maxresdefault.jpg);*/
/* border: 1px white;
}*/


button {
background-color:transparent;


}

input{
 
background-color:transparent;
/*  margin:8px;*/
}


*{
	color: white;
	text-transform: uppercase;
}
